chardet==4.0.0
click==7.1.2
Flask==1.1.4
Flask-Assets==2.0
Flask-Cors==3.0.10
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
jsmin==2.2.2
MarkupSafe==2.0.1
more-itertools==8.8.0
music21==6.7.1
six==1.16.0
webassets==2.0
webcolors==1.11.1
Werkzeug==1.0.1
