chardet==4.0.0
click==7.1.2
cycler==0.11.0
Flask==1.1.4
Flask-Assets==2.0
Flask-Cors==3.0.10
fonttools==4.31.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
jsonpickle==2.1.0
kiwisolver==1.4.0
MarkupSafe==2.0.1
matplotlib==3.5.1
more-itertools==8.8.0
music21==7.1.0
numpy==1.22.3
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
six==1.16.0
webassets==2.0
webcolors==1.11.1
Werkzeug==1.0.1
