<div class="accordion accordion-flush" id="accordionDocFour">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Example ABC Excerpts
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionDocFour">
            <div id="insertExamples" class="accordion-body d-grid gap-3">
                <p>Activating a button will replace the content in the editor with the selected score. (If you have issues with audio playback, try pressing <kbd>ctrl</kbd> + <kbd>.</kbd> to stop the music before playing again.)</p>
            </div>
        </div>
    </div>
</div>
