<footer class="footer mt-auto py-3">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" id="surveyURL" href="https://docs.google.com/forms/d/e/1FAIpQLSdgySyLvpznkSJv-NmTwE4KO03vg7rY3U7GF1Q3hHRhadPXDg/viewform" target="_blank">Report an Issue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Spring 2022 Course Website</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                Developed by <a href="https://wp.nyu.edu/ability/" target="_blank">NYU Ability Project</a> and <a href="https://fmdgmusicschool.org" target="_blank">FMDG Music School</a>
            </div>
        </div>


    </div>
</footer>
