<!doctype html>
<html lang="en">
<head>
    <title>Sound Cells</title>
</head>
<body>
    <!-- Nav -->
    {% include 'nav.html' %}
    <br />

    <!-- Body of the page -->
    <div class="container-fluid">
        <div class="row">
            <aside class="col-sm-6 col-md-3">
                <div class="sticky-sm-top overflow-auto" style="max-height:90vh;">
                    {% include 'abc_cheat.html' %}
                    {% include 'key_commands.html' %}
                    {% include 'tutorial.html' %}
                </div>
            </aside>
            <main id="main" class="order-1 col-sm-6 col-md-9">
                <h1>ABC Text Editor</h1>
                <div id="editor"></div>
                <div id="belowEditor">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#brailleView">Show Braille Music</button>
                    <span id="info"></span>
                </div>
                <div id="score"></div>
            </main>
        </div>
    </div>
    <div class="modal fade" id="brailleView" tabindex="-1" aria-labelledby="brailleViewLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="braille" class="modal-body">
                    ⠠⠝⠥⠍⠃⠑⠗⠒⠀⠼⠁
                    ⠠⠞⠊⠞⠇⠑⠒⠀⠠⠎⠅⠑⠞⠉⠓
                    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⠶⠼⠁⠃⠚⠀⠼⠙⠲⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                    ⠼⠁⠀⠐⠪⠺⠹⠱⠣⠅
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Off Canvas Modals -->
    {% include 'settings_modal.html' %}
    {% include 'save_modal.html' %}

<!-- Scripts -->
<script src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
