<!doctype html>
<html lang="en" class="h-100">
<head>
    <title>Sound Cells</title>
</head>
<body class="d-flex flex-column h-100">
    <!-- Nav -->
    {% include 'nav.html' %}
    <br />

    <!-- Body of the page -->
    <div class="container-fluid">
        <div class="row flex-shrink-0">
            <aside class="col-sm-6 col-md-3">
                <div class="sticky-sm-top overflow-auto" style="max-height:85vh;">
                    {% include 'abc_cheat.html' %}
                    {% include 'key_commands.html' %}
                    {% include 'tutorial.html' %}
                    {% include 'example_abc.html' %}
                </div>
            </aside>
            <main id="main" class="order-1 col-sm-6 col-md-9 pe-5">
                <h1>ABC Text Editor</h1>
                <div class="row pb-1" >
                    <div id="editor"></div>
                </div>
                <textarea id="abctextarea" style="display:none;"></textarea>
                <div class="row pb-1 clearfix" id="belowEditor">
                    <div class="col-sm">
                        <button id="showBraille" type="button" class="btn btn-primary float-start" data-bs-toggle="modal" data-bs-target="#brailleView">Show Braille Music</button>
                    </div>
                    <div class="col-auto">
                        <p class="text-end" id="info"></p>
                    </div>

                </div>
                <div class="row pb-4">
                    <div class="col-sm">
                        <button id="play" type="button" class = "btn btn-primary btn-sm">
                            <i class="bi bi-play-fill" aria-label="play"></i>
                        </button>
                        <button id="stop" type="button" class = "btn btn-primary btn-sm">
                            <i class="bi bi-stop-fill" aria-label="stop"></i>
                    </div>
                    <div class="col-auto" id="editorNotify"></div>
                </div>
                <div class="row pb-4">
                    <div id="score" class="bg-light card" style="min-height:200px; max-height: 40vh; overflow-y:auto; overflow-x:hidden;"></div>
                </div>
            </main>
        </div>
    </div>
    {% include 'footer.html' %}

    <!-- Off Canvas Modals -->
    {% include 'braille_music.html' %}
    {% include 'settings_modal.html' %}
    {% include 'save_modal.html' %}

<!-- Scripts -->
<script src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
