<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <form class="d-flex">
            <button class="btn btn-outline-light m-1" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#settingsView" aria-controls="settingsView">
                <i class="bi bi-gear" role="img" aria-label="Settings"></i>
            </button>
            <button class="btn btn-outline-light m-1" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#saveView" aria-controls="saveView">
                <i class="bi bi-save" role="img" aria-label="Save"></i>
            </button>
        </form>
        <span class="navbar-brand mb-0 h1" id="logo">soundcells</span>
    </div>
</nav>
