<!-- Save Modal -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="saveView" aria-labelledby="saveViewLabel" aria-hidden="true">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="saveViewLabel">Save</h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div style="display: none;">
            <h5 class="offcanvas-title">Share</h5>
            <p>Submit your music to share with the FMDG School Virtual Class. Pressing submit will open a Google Form in a new tab containing your ABC excerpt.</p>
            <div class="d-grid gap-2 py-3">
                <button type="button" id="submitButton" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </div>

        <!-- <hr> -->

        <form>
            <h5 class="offcanvas-title">Download</h5>
            <p>Select the files to include and then download.</p>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="abcCheck" checked>
                <label class="form-check-label" for="abcCheck">ABC Text (.abc)</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="brailleMusicCheck" checked>
                <label class="form-check-label" for="brailleMusicCheck">Braille Music (.brf)</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="printScoreCheck" checked>
                <label class="form-check-label" for="printScoreCheck">Print Score (.pdf)</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="musicXMLCheck" checked>
                <label class="form-check-label" for="musicXMLCheck">Music XML (.xml)</label>
            </div>
        </form>
        <div class="d-grid gap-2 py-3">
            <button type="button" id="downloadButton" class="btn btn-primary">
                <i class="bi bi-download" role="img" aria-label="Download"></i>
            </button>
        </div>
        <div id="saveNotifications"></div>
    </div>
</div>
