<!-- Save Modal -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="settingsView" aria-labelledby="settingsViewLabel" aria-hidden="true">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="settingsViewLabel">Settings</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Select the files you would like and then press download. </p>
        <form>
            <div class="form-check form-switch">
                <label style="margin-left: -37px; float:left; width: 47%;" class="form-check-label" for="asciiCheck">Unicode Braille</label>
                <input style="float:left;" class="form-check-input" type="checkbox" id="asciiCheck" checked>
                <label style="float:left; width: 40%;" class="form-check-label" for="asciiCheck">ASCii Braille</label>
            </div>
            <div class="form-check form-switch">
                <label class="form-check-label" for="descending">Descending Chords</label>
                <input class="form-check-input" type="checkbox" id="descending" checked>
            </div>
            <br />
            <div class="col-sm">
                <label for="score-zoom" class="form-label">Score Zoom (double click to reset)</label>
                <input type="range" class="form-range" id="score-zoom" min="10" max="90" value="50" />
            </div>
        </form>
    </div>
</div>
